﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="generatekey.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <form id="form1" runat="server">
    <div>
    <%
    int ret = exec(Request["outfile"]);
    Response.Redirect(String.Concat(String.Concat(String.Concat(String.Concat("newlicence.asp?cmd=post-generate&filename=", Request["outfile"]), "&retcode=", ret), "&autogen=", Request["autogen"]), "&licencefile=", Request["licencefile"]));
    %>    
    </div>
    </form>
</body>
</html>
